// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.layer-tooltip {
  font-size: @font-size;
  background: @pane-item-background-color;
  border-radius: 5px;
  border: 1px solid @pane-item-border-color;
  box-shadow: 1px 1px 5px 1px fade(darken(@pane-item-border-color, 1%), 40%);
  padding:5px;

  .section{
    border-bottom: 1px solid @pane-item-border-color;
    padding: 5px 0;
    display:flex;
  }

  .section-icon {

  }

  .section-content {

  }

  .section-title {
    margin:0;
    padding:0;
    margin-bottom: 3px;
    font-size: 1.2em;
    color: @text-color;
  }

  .section-body{
    margin:0;
    padding:0;
    color: fade(@text-color, 40%);
  }
}

atom-text-editor {

  .line-highlight {
    transition: background-color 0.1s linear;
    background-color: fade(@background-color-selected, 50%);
  }

  .gutter[gutter-name="layer"] {
    border-right: 1px solid @base-border-color;
  }

  .layer-gutter {
    width: 100%;
    transition: background-color 0.1s linear;
    &.layer-odd {
      background-color: lighten(@background-color-selected, 8%);;
    }

    &.layer-even {
      background-color: darken(@base-background-color, 1%);
    }

    &:hover {
      background-color: fade(@background-color-selected, 50%);
    }

    color: @text-color;

    .layer-gutter-item {
      overflow-x: hidden;
      border-bottom: 1px solid fade(@base-border-color, 50%);
      padding: 0 5px 0 5px;

      box-sizing: border-box;

      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      text-align: left;

      transition: 0.3s background;

      &:hover {
        padding-right: calc(~"12px + 2em");
        .icon {
          display: block;
        }
      }

      &.highlight {
        background-color: rgba(128, 128, 128, 0.15);
      }
    }
  }
}
