// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@tooltip-border-radius: 5px;

@highlight-color: fade(contrast(
        @base-background-color,
        lighten(@base-background-color, 40%),
        darken(@base-background-color, 40%)
), 20%);

.layer-tooltip {
  font-size: @font-size;
  background: @pane-item-background-color;
  border-radius: @tooltip-border-radius;
  border: 1px solid @pane-item-border-color;
  box-shadow: 1px 1px 5px 1px fade(darken(@pane-item-border-color, 1%), 40%);
  min-width: 440px;
  overflow: hidden;
  .red {
    color: #9E2C3E;
  }
  .green {
    color: #0A6247;
  }
  .section{
    border-bottom: 1px solid @pane-item-border-color;
    padding: 7px !important;
    display:flex;
  }
  .section:first-child {
    border-radius: @tooltip-border-radius @tooltip-border-radius 0 0;
  }
  .section:last-child {
    border-radius: 0 0 @tooltip-border-radius @tooltip-border-radius;
  }
  .powered-by{
    text-align: right;
    line-height: 1.2;
    background-color: contrast(
            @pane-item-background-color,
            lighten(@pane-item-background-color, 3%),
            darken(@pane-item-background-color, 3%)
    );
  }
  .section-content {
    width: 100%;
    position: relative;
    .white {
      color: @text-color-highlight;
    }
    .layer-button{
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
    .section-status {
      line-height:1.2;
      text-transform: capitalize;
      vertical-align: middle;
      float: right;
    }
    .section-title {
      line-height:1.2;
      margin:0;
      padding:0;
      margin-bottom: 5px;
      font-size: 1.2em;
      color: @text-color;
      white-space: nowrap;
      max-width: 440px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      .build-status{
        float: right;
        vertical-align: middle;
      }
    }
    .section-body{
      .icon::before{
        font-size: 14px;
      }
      line-height:1.2;
      margin:0;
      padding:0;
      color: fade(@text-color, 40%);
    }
    .layer-icon{
      width: auto;
      height: 16px;
      vertical-align: middle;
    }
  }
}

atom-text-editor {
  .line-highlight {
    transition: background-color 0.1s linear;
    background-color: @highlight-color;
  }
  .gutter[gutter-name="layer"] {
    border-right: 1px solid @base-border-color;
  }
  .layer-gutter {
    width: 100%;
    transition: background-color 0.1s linear;
    &:hover {
      background-color: @highlight-color !important;
    }
    .layer-gutter-item {
      overflow-x: hidden;
      //border-bottom: 1px solid fade(@base-border-color, 20%);
      padding: 0 5px 0 5px;
      box-sizing: border-box;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      text-align: left;
      transition: 0.3s background;
    }
  }
  .layer-gutter:nth-child(even) {
    background-color: contrast(
      @base-background-color,
      lighten(@base-background-color, 2%),
      darken(@base-background-color, 90%)
    );
  }
}
